// Custom Theming for NG-ZORRO
// For more information: https://ng.ant.design/docs/customize-theme/en
@import "../node_modules/ng-zorro-antd/ng-zorro-antd.less";

// Override less variables to here
// View all variables: https://github.com/NG-ZORRO/ng-zorro-antd/blob/master/components/style/themes/default.less

// @primary-color: #1890ff;
/* You can add global styles to this file, and also import other style files */

/* 超小设备 (手机, 600px 以下屏幕设备) */
// @media only screen and (max-width: 600px) {
//     html {
//       font-size: 40%;
//     }
//   }

//   /* 小设备 (平板电脑和大型手机，600 像素及以上) */
//   @media only screen and (min-width: 600px) {
//     html {
//       font-size: 50%;
//     }
//   }

//   /* 中型设备（平板电脑，768 像素及以上） */
//   @media only screen and (min-width: 768px) {
//     html {
//       font-size: 62.5%;
//     }
//   }

html,body{
    font-size: 62.5%;
    * {
        font-size:1.6rem
    }
}

.sys_wh_100{
    height: 100%;
    width: 100%;
}